<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings >
		<add name="htmlurl" connectionString="file:///D:/%E8%A7%86%E9%A2%91/%E5%A2%99%E7%BA%B8/video.html"/>
		<add name="htmlurl1" connectionString="file:///D:/%E6%A1%8C%E9%9D%A2/video%20(1440p).mp4"/>
		<add name="MinWin" connectionString="document.getElementById('video').play();"/>
		<add name="MaxWin" connectionString="document.getElementById('video').pause();"/>
	</connectionStrings >
</configuration>